﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آموزشگاه مجازی  فارکس دکتر فرشاد رضوان
            </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/asset/telegramBot.png" />
    <style>
    .navbar {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      background-color: 'white' !important;
    }
        th{
        text-align: right;
        }
    </style>

</head>
<body>

<div class="row" style="background-image: url('/Content/asset/pattern.jpg');background-size: 356px;margin: 10px;">
    <div class="col-md-4 ">
                <img src="~/Content/asset/telegramBot.png" style="width:300px"/>

    </div>
    <div class="col-md-8">

        <h1 style="padding-top: 10%;text-align: center"> </h1>
    </div>
</div>
<div class="navbar ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*
            @Html.ActionLink("ربات مدیر تلگرام ", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
             *@
            <a class="navbar-brand" href="https://t.me/fx_tabriz">آموزشگاه مجازی  فارکس دکتر فرشاد رضوان</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav  navbar-right">
                <li><a  href="https://t.me/byDad_but_bot">ورود به گروه آموزش خصوصی </a></li>
                <li>                            <a class="" href="https://t.me/fx_tabriz">ورود به کانال </a>
                </li>
                
                                <li><a class="btn btn-primary" href="/security/account/login">ورود یا ثبت نام </a></li>

                @*<li>
                    <a href="/Admin/AllTablesAsMenu" target="_blank">اطلاعات جداول</a>
                </li>
                <li>
                    <a href="/swagger" target="_blank">راهنمای API</a>
                </li>*@

                @*
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    *@
                @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                
                
                @if (string.IsNullOrEmpty(ViewBag.hashed))
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://t.me/fx_tabriz">استفاده از ربات</a></li>
                    </ul>
                }


                @if (!string.IsNullOrEmpty(ViewBag.hashed))
                {
                    MyGlobal.ValidateHash(ViewBag.hashed);
                     
                    <li>
                        <a href="/MyBotStatistics/MyChannels?hashed=@ViewBag.hashed">آمار</a>
                        $1$
                        @Html.ActionLink("تنظیمات فید", "Index", "Setting", new {hashed = ViewBag.hashed}, new {})
                    #1#
                    </li>
                    <li>@Html.ActionLink("خرید یا تمدید اکانت", "Index", "MyAccount", new {hashed = ViewBag.hashed}, new {})</li>
                    <li>
                        <a href="/Setting/Index?hashed=@ViewBag.hashed">تنظیمات فید</a>
                        $1$
                        @Html.ActionLink("تنظیمات فید", "Index", "Setting", new {hashed = ViewBag.hashed}, new {})
                    #1#
                    </li>
                   
                }
            </ul>*@
        </div>

    </div>
</div>
<div class="container body-content">
    @RenderBody()

</div>
<footer>
    <p>&copy; @DateTime.Now.Year - سامانه مدیریت ربات تلگرام</p>
</footer>


<script>
window.paceOptions = {
  ajax: true, // disabled
  document: false, // disabled
    eventLag: false, // disabled
};
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)

</body>
</html>
