﻿@using SignalRMVCChat.Areas.security.Service
@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.SysAdmin.Service
@using TelegramBotsWebApplication.Areas.Admin.Service
@using TelegramBotsWebApplication.Models
@using TelegramBotsWebApplication.Service
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                           <a class="navbar-brand" href="https://t.me/fx_tabriz">آموزشگاه مجازی  فارکس دکتر فرشاد رضوان</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                   
                    @if (ViewBag.token!=null)
                    {
                        <li><a href="/Customer/Membership/GetMyAccount?token=@ViewBag.token">حق عضویت VIP </a></li>
                    }
                    
                    <li><a href="/Customer/Dashboard">داشبورد </a></li>
    
                    @{
                        var appRoleService = Injector.Inject<AppRoleService>();
                        
                        
                    }
                    @if (appRoleService.IsInRole(CurrentRequestSingleton.CurrentRequest.AppLoginViewModel.AppUserId, "Admin"))
                    {
                        <li><a href="/security/Manage/Detail?id=0">پروفایل </a></li>
                        <li><a href="/Customer/SiteSetting/Detail?id=0">تنظیمات  </a></li>
                        <li><a href="/Customer/SiteSetting/BotStatus">وضعیت ربات ها  </a></li>
                        <li><a href="/Customer/MyUsers/MyUsers">کاربران  </a></li>
   }
                  
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">خروج</a></li>
                </ul>
            </div>
        </div>
    </div>
   @using (Html.BeginForm("LogOff", "Account" 
                            , new {area="security"}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                        @Html.AntiForgeryToken()
                        }

    <div class="container body-content" style="padding: 150px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>