﻿@using TelegramBotsWebApplication.Models
@model TelegramBotsWebApplication.Areas.Admin.Models.MyDataTableResponse<TelegramUser>

@{
    ViewBag.Title = "لیست کاربران";
    Layout = "../Shared/_Admin_Layout.cshtml";
}

<style>
    th{
        text-align: right
    }



</style>


<h2>لیست کاربران</h2>
<hr/>
<div class="row">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr>
            <td>شماره تلفن</td>
            <td>نام</td>
            <td>نام خانوادگی</td>
            <td>آخرین نوشته ارسالی در بات</td>
            <td>نام کاربری</td>
            <td>تعداد کانال</td>
            <td>عملیات</td>
            <td>مطالب فوروارد شده</td>
            
        </tr>
        </thead>
        @foreach (var telegramUser in Model.EntityList)
        {
            <tr>
                <td>@telegramUser.PhoneNumber</td>
                <td>@telegramUser.FirstName</td>
                <td>@telegramUser.LastName</td>
                <td>@telegramUser.LastTypedText</td>
                <td>@telegramUser.Username</td>
                <td>@telegramUser.TelegramChannels.Count  </td>
                <td><a href="/Admin/Channels/Index?dependId=@telegramUser.Id">کانال ها</a></td>
                <td><a href="/Admin/ForwardPosts/Index?dependId=@telegramUser.Id">مشاهده مطالب</a></td>
            </tr>


        }
    </table>

    
    
    </div>


