﻿@using TelegramBotsWebApplication.Models
@model System.Collections.Generic.List<TelegramBotsWebApplication.Models.TelegramUser>

@{
    ViewBag.Title = "لیست کاربران بهمراه کانال های آنها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th{
        text-align: right
    }



    .content {
    }

    .sticky {
        position: fixed;
        top: 150px;
        margin-right: -100px;
        width: 100%;
    }

    .sticky + .content {
    }
</style>


<h2>لیست کاربران بهمراه کانال های آنها</h2>
<hr/>
<div class="row">
    
    <div class="col-md-10">

        @foreach (var telegramUser in Model)
        {
            <div class="row" id="u_@telegramUser.Id">
            <table  class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <td>شماره تلفن</td>
                        <td>نام</td>
                        <td>نام خانوادگی</td>
                        <td>آخرین نوشته ارسالی در بات</td>
                        <td>نام کاربری</td>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@telegramUser.PhoneNumber</td>
                        <td>@telegramUser.FirstName</td>
                        <td>@telegramUser.LastName</td>
                        <td>@telegramUser.LastTypedText</td>
                        <td>@telegramUser.Username</td>


                    </tr>
                    <tr>

                        <td colspan="99" style="padding: 20px">
                            <table class="table  table-bordered">
                                <thead>
                                    <tr style="background-color: aquamarine">
                                        <th colspan="99"><h4 style="text-align: center">لیست کانال ها</h4></th>
                                    </tr>
                                    <tr>
                                        <th>آدرس کانال</th>
                                        <th>مبدا یا مقصد</th>
                                        <th>عنوان چت</th>
                                        <th>نوع چت</th>
                                        <th>نوع صفحه اجتماعی</th>

                                    </tr>
                                </thead>
                                @foreach (var chennel in telegramUser.TelegramChannels)
                                {
                                    <tr>
                                        <td>@chennel.Address</td>
                                        <td>
                                            @{
                                            if (chennel.ChannelType == ChannelType.Target)
                                            {
                                                <span>مقصد</span>
                                            }
                                            else
                                            {
                                                <span>مبدا</span>

                                            }
                                        }
                                    </td>
                                    <td>@chennel.ChatTitle</td>
                                    <td>@chennel.ChatType</td>
                                    <td>@chennel.SocialChannelType</td>

                                </tr>
                                <tr>
                                    <td colspan="99" colspan="99" style="padding: 60px">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr style="background-color: antiquewhite">
                                                    <th colspan="99"><h4 style="text-align: center">لیست فید ها</h4></th>
                                                </tr>
                                                <tr>
                                                    <th>آدرس فید</th>
                                                    <th>تعداد چک کردن روزانه</th>
                                                    <th>ساعت فعال بودن از</th>
                                                    <th>ساعت فعال بودن تا</th>
                                                    <th>آخرین پست</th>
                                                </tr>
                                            </thead>
                                            @foreach (var feed in chennel.Feeds)
                                            {
                                                <tr>
                                                    <td>@feed.Address</td>
                                                    <td>@feed.CheckTimesInADay</td>
                                                    <td>@feed.TimeFrom</td>
                                                    <td>@feed.TimeTo</td>
                                                    <td>@feed.LastPost</td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                </tr>
                                            }
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>
            </div> <hr />
                                            }
    </div>

    
    <div class="col-md-2">
        
        @*
        <li><a style="direction: rtl">نام  و نام خانوادگی (نام کاربری)</a></li>
        *@
        <ul style="list-style-type:decimal; max-height: 500px;overflow: auto " id="navbar">

            @foreach (var telegramUser in Model)
            {
                <li><a style="direction: rtl" href="#u_@telegramUser.Id">@telegramUser.FirstName @telegramUser.LastName (@telegramUser.Username)</a></li>
            }

        </ul>
    </div>
    </div>




<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>