﻿@using TelegramBotsWebApplication.Models
@model TelegramBotsWebApplication.Areas.Admin.Models.MyDataTableResponse<Feed>

@{
    ViewBag.Title = "لیست فید ها";
    Layout = "../Shared/_Admin_Layout.cshtml";
    var channel = Model.DependEntity as SocialChannel;
    var telegramUser = channel.TelegramUser;
}

<style>
    th{
        text-align: right
    }



</style>


<h2>لیست فید ها</h2>
<a style="text-align: left" href="/admin/channels/index?dependId=@telegramUser.Id">بازگشت به لیست کانال های کاربر</a>
<hr/>
<div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <tr >
                @if (telegramUser != null)
                {
                    <th><h4 style="text-align: center">کاربر : </h4></th>
                    <th ><h4 style="text-align: center">@telegramUser.FirstName @telegramUser.LastName   (@telegramUser.Username)</h4></th>
                }
                
                @if (channel != null)
                {
                    <th><h4 style="text-align: center">کانال :</h4></th>
                    <th ><h4 style="text-align: center">@channel.ChatTitle</h4></th>
                }
            </tr>
        </tr>
        <tr>
            <th>آدرس فید</th>
            <th>تعداد چک کردن روزانه</th>
            <th>ساعت فعال بودن از</th>
            <th>ساعت فعال بودن تا</th>
        </tr>
        </thead>
        @foreach (var feed in Model.EntityList)
        {
            <tr>
                <td>
                    @{
                        Uri myUri = new Uri(feed.Address);
                    }
                    
                    <a href="@feed.Address" target="_blank">@myUri.Host</a>
                </td>
                <td>@feed.CheckTimesInADay</td>
                <td>@feed.TimeFrom.TimeOfDay</td>
                <td>@feed.TimeTo.TimeOfDay</td>
            </tr>
        }
    </table>

    
    
</div>