﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row{
margin-top:20px
}

img{
height: 300px;
}

.container {
  padding: 2px 16px;
}
</style>

<h2>امکانات </h2>
<div class="row">
  
  <div class="col-md-6">
    
<div class="card">
  <img src="https://elearningindustry.com/wp-content/uploads/2016/08/5-essentials-video-based-learning.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>ویدئو های آموزشی</b></h4> 
    <p> فارکس</p> 
  </div>
</div>
  </div>
  <div class="col-md-6">
   
    <div class="card">
      <img src="https://d26a57ydsghvgx.cloudfront.net/content/blog/BlogImage_Chat.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>گروه خصوصی چت</b></h4> 
        <p>مشاوره و آگاهی از زمان های طلایی خرید و فروش در بازار  فارکس</p> 
      </div>
    </div>
  </div>
  
   
  
    </div>


<div class="row">
  <div class="col-md-6">
    
    <div class="card">
      <img src="https://www.templatemonster.com/blog/wp-content/uploads/2013/10/articles.png" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>مقالات آموزشی</b></h4> 
        <p> فارکس</p> 
      </div>
    </div>
          </div>
</div>
