﻿
@{
    ViewBag.Title = "BotStatus";
    Layout = "~/Areas/customer/Views/Shared/_Layout.cshtml";
}

<h2>وضعیت ربات</h2>

@{
    if (TelegramBotsWebApplication.Models.Bot.Api?.IsReceiving==true)
    {
        <p style="color:green">ربات اصلی روشن است</p>
    }
    else
    {
        <p style="color:red">ربات خاموش است</p>
    }
    if (DrRezvanWebApplication.Handlers.telegrambotframework.AdminBot.AdminBotSingleton.Api?.IsReceiving==true)
    {
        <p style="color:green">ربات وبلاگ نویس روشن است</p>
    }
    else
    {
        <p style="color:red">ربات وبلاگ نویس خاموش است</p>
    }

    <hr/>
   <div style="display:flex">
       <form action="/Customer/SiteSetting/ShotDownBots">

           <input type="submit" value="خاموش کردن ربات ها" class="btn btn-danger" />
       </form>

       <form action="/Customer/SiteSetting/StartBot">

           <input type="submit" value="ریستارت ربات" class="btn btn-primary" />
           <hr />
           <p>اگر کد api key ربات تغییر یافته باشد می توانید شروع مجدد نمایید</p>
       </form>
   </div>
        }
