﻿@model TelegramBotsWebApplication.Areas.Admin.Models.MyEntityResponse<TelegramBotsWebApplication.Areas.Customer.Service.MembershipSetting>

@{
    ViewBag.Title = "تنظیمات سیستم";
    Layout = "~/Areas/customer/Views/Shared/_Layout.cshtml";
}
<style>
    label{
    text-align: right !important;
    float: right;
    }
</style>

<h2 style="text-align: center">تنظیمات سیستم</h2>

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">

        @if (ViewBag.saved == true)
        {
            <div class="alert alert-success">با موفقیت ذخیره شد</div>
            <div class="alert alert-success">ادرس baseUrl برای سایت عبارت است از @Model.Single.SiteBaseUrl</div>

        }

        @using (Html.BeginForm("SaveSetting", "SiteSetting",
            FormMethod.Post, new {@class = "form"}))
        {
            @Html.Hidden("token", (string) ViewBag.hashed)

            @Html.Hidden("Id", Model.Single.Id)
            @*<div class="form-group">
                <label>
                
                                وضعیت شروع به کار اکانت
                                
                                @if (Model.IsActive)
                                {
                                    <span>فعال</span>
                                    
                                }
                                else
                                {
                                    <span>غیر فعال</span>
                                }
                            </label>
            </div>*@
            <div class="form-group" style="text-align: center">
                <label>
                    مبلغ هر روز برای مشتریان(ریال)
                </label>
                <input class="form-control" name="OneDayPrise" value="@Model.Single.OneDayPrise" />

            </div>

            <div class="form-group" style="text-align: center">
                <label>
                    لینک دعوت به گروه
                </label>
                <input class="form-control" name="PrivateGroupInviteLink" value="@Model.Single.PrivateGroupInviteLink" />

            </div>

            <div class="form-group" style="text-align: center">
                <label>
                    تعداد روزهای بدون اشتراک در اول
                </label>
                <input class="form-control" name="StartExpireDays" value="@Model.Single.StartExpireDays" />

            </div>

                <div class="form-group" style="text-align: center">
                <label>
                    BaseUrl
                </label>
                <input class="form-control" name="SiteBaseUrl" value="@Model.Single.SiteBaseUrl" />

            </div>


            @*<div class="form-group" style="text-align: center">
                <label >
                    نام کاربری گروه یا کانال تلگرام 
                    </label>
                <input class="form-control" name="TelegramGroupUsername" value="@Model.Single.TelegramGroupUsername"/>

            </div>*@

                <div class="form-group" style="text-align: center">
                <label >
                    کد بات تلگرام گروه آموزشی(API Key)
                </label>
                <input class="form-control" name="LearningGroupBotAPIKey" value="@Model.Single.LearningGroupBotAPIKey"/>

            </div>


            <div class="form-group" style="text-align: center">
                <label >
                    کد بات محتوا گذار سایت(API Key)
                </label>
                <input class="form-control" name="ContentPlacerBotAPIKey" value="@Model.Single.ContentPlacerBotAPIKey"/>

            </div>

            <div class="form-group" style="text-align: center">
                <label >
                    شماره تلفن شما (جهت امنیت بات ها)
                </label>
                <input class="form-control" name="OwnerNumber" value="@Model.Single.OwnerNumber"/>

            </div>

            <div class="form-group" style="text-align: center">
                <label >
                    نام کاربری شما در تلگرام (جهت امنیت بات ها)
                </label>
                <input  class="form-control" name="OwnerUsername" value="@Model.Single.OwnerUsername"/>
                <p>فقط نام بدون علامت at</p>
            </div>
            
            <div class="form-group" style="text-align: center">
                <label >
                    محیط تست بانک
                </label>
                @Html.CheckBox("IsBankTestEnvirement",Model.Single.IsBankTestEnvirement)
                <p>در این حالت درگاه بانک بطور تستی فعال است و واقعی به Idpay ارسال نمی شود</p>
            </div>
            <div class="form-group" style="text-align: center">
                <label >
                    کد درگاه Idpay  
                </label>
                <input  class="form-control" name="IdpayToken" value="@Model.Single.IdpayToken"/>
                <p>اگر خالی باشد کد تستی را عمل می کند با این تفاوت که اگر محیط تست (بالا) فعال نباشد کار نخواهد کرد</p>
            </div>


            <hr/>

            <label>
                <input  type="submit" value="ثبت"/>
            </label>
        }

    </div>
</div>


<script>
function valChanges() {
  
   let maxCheckInDayCount= $('#MaxCheckInDayCount').val();
   let maxFeedCount= $('#MaxFeedCount').val();
   
   if (!maxCheckInDayCount || maxCheckInDayCount<0)
      maxCheckInDayCount=0;
   if (!maxFeedCount || maxFeedCount<0)
      maxFeedCount=1;
   
   var price=  maxFeedCount*120000;
   
   $('#price').val(numberWithCommas(price) + ' ریال ');
   
}

function numberWithCommas(x) {
        var parts = x.toString().split(",");
        parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,".");
        return parts.join(",");
        }
</script>