﻿@using TelegramBotsWebApplication.Models
@using TelegramBotsWebApplication.Service
@model TelegramBotsWebApplication.Models.Feed

@{
    ViewBag.Title = "تنظیمات ارسال مطالب";
    Layout = "../Shared/_Layout.cshtml";

    List<SocialChannel> userChannels = ViewBag.channels;
    string channelExample = @"@channelExample";

}
<style>
    label {
        display: block;
    }
</style>

<h2 style="text-align: center">تنظیمات ارسال مطالب</h2>


@using (Html.BeginForm("DetailSave", "Feeds", new { hash = ViewBag.hashed }, FormMethod.Post,
                new { }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.TelegramUserId)


    <div class="row">

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">تنظیمات عمومی</div>
                <div class="panel-body">

                    <label>
                        ارسال «ساکت» مطالب این پست (notification disabled) <a href="#">[?]</a>
                        @Html.CheckBoxFor(m => m.NotificationDisabled)
                    </label>

                    <label>
                        حاوی لینک مطلب <a href="#">[?]</a>
                        @Html.CheckBoxFor(m => m.IncludeArticleLink)
                    </label>

                    <p>اگر محتوای پست، حاوی عکس بود: </p>

                    <label>
                        سعی کن عکس بالا باشد (متن برش می‌خورد تا مقدار زیرنویس به هزار کاراکتر برسد) <a href="#">[?]</a>
                        @Html.CheckBoxFor(m => m.TryPhotoUponArticle)
                    </label>


                    @*
                        <label>
                            اگر عکس نتوانست بالا باشد و ارسال متنی بود، فقط عکس به عنوان preview زیر مطلب درج شود <a href="#">[?]</a>
                            @Html.CheckBoxFor(m => m.TryPhotoUponArticleAsPreviewIfCannot)
                        </label>
                    *@

                </div>
            </div>
          
            <div class="panel panel-default">
                <div class="panel-heading">تنظیمات #هشتگ</div>
                <div class="panel-body">
                    <p>در مطالبی که از کانال‌ها و خصوصا اینستاگرام دریافت می‌شود، معمولا هشتگ‌های متعددی لابلای متن یا انتهای متن وجود دارد که جلوه‌ی زیبایی نداشته و ربات قبل از ارسال آنها به کانال شما، می‌تواند آنها را حذف یا تبدیل به کلمه کند...</p>
                    <label>
                        حذف هشتگ‌های انتهای متن
                        @Html.CheckBoxFor(m => m.DeleteHashtagFromEnd)
                    </label>

                    <label>
                        حذف علامت هشتگ‌های از کلمات بین متن و تبدیل آن به کلمه (مثلا تبدیل #فصل_بهار به: فصل بهار)
                        @Html.CheckBoxFor(m => m.DeleteHashtagSigns)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">کلماتی که وجودش قبل ارسال چک می‌شود</div>
                        <div class="panel-body">

                            <label>
                                قبل از ارسال یک مطلب به کانال شما، چک می‌شود که مطلب دارای حداقل یکی از عبارات زیر هست یا خیر. اگر آن مطلب دارای حداقل یکی از عبارات زیر بود، آنگاه آن مطلب به کانال ارسال می‌شود و اگر دارای هیچ‌یک از کلمات زیر نباشد، به کانال ارسال نمی‌شود:
                                @Html.TextAreaFor(m => m.WordsMustBeInside, new { placeholder = "خال یعنی بدون محدودیت روی کلمه", @class = "form-control" })
                            </label>


                            <p>
                                در هر خط، یک عبارت (یک/چند کلمه‌ای) درج کنید. مثلا:

                            </p>
                            <p>
                                قیمت ارز

                            </p>
                            <p>
                                بازدید رییس جمهور
                            </p>
                            <p>
                                کشاورزی
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">کلماتی که عدم وجودش قبل ارسال چک می‌شود</div>
                        <div class="panel-body">
                            <label>
                                قبل از ارسال یک مطلب به کانال شما، چک می‌شود که مطلب دارای حداقل یکی از عبارات زیر هست یا خیر. اگر آن مطلب فاقد همه عبارات زیر بود، آنگاه آن مطلب به کانال ارسال می‌شود و اگر دارای حداقل یکی از کلمات زیر باشد، به کانال ارسال نمی‌شود:
                                @Html.TextAreaFor(m => m.WordsNotMustBeInside, new { placeholder = "خال یعنی بدون محدودیت روی کلمه", @class = "form-control" })
                            </label>

                            <p>
                                در هر خط، یک عبارت (یک/چند کلمه‌ای) درج کنید. مثلا:
                            </p>

                            <p> درگیری‌های چچن</p>
                            <p>
                                ترکیدگی لوله
                            </p>
                            <p>هواشناسی</p>

                        </div>
                    </div>
                </div>


            </div>
            <div class="panel panel-default">
                <div class="panel-heading">جایگزینی (Replace)</div>
                <div class="panel-body">
                    <p>در این بخش شما می‌توانید تعریف کنید که اگر عبارت «الف» در متن وجود داشت، قبل از ارسال به کانال، با عبارت «ب» جایگزین (replace) شود. </p>


                    <div class="row">
                        <div class="col-md-push-2 col-md-8 ">

                            <table style="width: 100%">
                                <tbody id="addNewReplaceRowId">

                                    @if (Model.ExchangeWordsFrom == null || Model.ExchangeWordsFrom?.Length == 0)
                                    {
                                        <tr>

                                            <td>
                                                <input class="form-control" name="ExchaneArrayForFeed[0].ToWord" value="exampleChannel" placeholder="به" />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger">→</button>
                                            </td>
                                            <td>
                                                <input class="form-control" name="ExchaneArrayForFeed[0].FromWord" value="exampleChannel" placeholder="از" />
                                            </td>
                                            <td>
                                                <button onclick="removeThis(this)" type="button" class="btn btn-danger">x</button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                    var m=FeedService.StrsToExchange(Model);

                                        for (int i = 0; i < m.ExchaneArrayForFeed.Count; i++)
                                        {
                                            var exchane = m.ExchaneArrayForFeed[i];
                                            <tr>

                                                <td>
                                                    <input class="form-control" name="ExchaneArrayForFeed[@i].ToWord" value="@exchane.ToWord" placeholder="به" />
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger">→</button>
                                                </td>
                                                <td>
                                                    <input class="form-control" name="ExchaneArrayForFeed[@i].FromWord" value="@exchane.FromWord" placeholder="از" />
                                                </td>
                                                <td>
                                                    <button onclick="removeThis(this)" type="button" class="btn btn-danger">x</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <h3 style="text-align: center">
                                <a onclick="addNewReplaceRow()" style="text-align: center">
                                    <span>+</span>
                                    تعریف یک جایگزینی جدید
                                </a>
                            </h3>

                        </div>
                    </div>

                    <hr />
                    <p>
                        سمت دوم (عبارت جدیدی که قرار است جای عبارت قبلی شود) می‌تواند خالی باشد!
                        در واقع با این ترفند شما می‌توانید عبارات خاصی که برای شما نامطلوب است را حذف کنید
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">محدودیت متن ارسالی به کانال</div>
                        <div class="panel-body">
                            بجز تیتر و آدرس مطلب، چند کاراکتر از متن موجود در این پست در کانال درج شود؟

                            <label>
                                @Html.EditorFor(m => m.WordCountLimit)
                                حرف
                            </label>

                            <p>
                                (در تلگرام متن زیرنویس می‌تواند تا هزار کاراکتر و متن غیرزیرنویس می‌تواند تا ۴ هزار کاراکتر داشته باشد لذا متن ورودی که بلندتر از این مقدار باشد، بُرش می‌خورد. در صورتی که عدد کوچکتری مثل ۲۰۰ وارد کنید، متن ارسالی به کانال، کوچکتر خواهد شد.)
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">امضای انتهای هر مطلب از این پست</div>
                        <div class="panel-body">


                            @Html.TextAreaFor(m => m.SignEndOfPost, new { @class = "form-control" })

                            <p>که مثلا می‌تواند حاوی لینک عمومی یا لینک join کانال شما باشد همراه با اموجی (شکلک) و ... </p>
                        </div>
                    </div>

                </div>


            </div>
            <div class="panel panel-default">
                <div class="panel-heading">جلوگیری از ارسال پست‌های نامطلوب</div>
                <div class="panel-body">

                    <p>کانال‌های تلگرامی گاهی مطلب تبلیغی در لابلای مطالب خود قرار می‌دهند. ما امکان تشخیص مطالب تبلیغی را نداریم اما با کمک تنظیمات زیر، شما می‌توانید با شناختی که از کانال تلگرامی (@channelExample) دارید، مانع ارسال مطالب نامطلوب آن به کانال‌تان شوید؛ </p>


                    <label>
                        اگر متن حاوی هر نوع لینک/URL ی بود، به کانالم نفرست
                        @Html.CheckBoxFor(m => m.IsHasUrlNotSendToChannel)
                    </label>


                    <label>
                        اگر مطلب حاوی لینک جوین بود، به کانالم نفرست
                        @Html.CheckBoxFor(m => m.IsHasJoinUrlNotSendToChannel)
                    </label>

                </div>

            </div>

            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
        </div>


    </div>
                                    }


@section scripts
{
    <script>
    @{
        <text>
                var replaceRowCount=1;
            </text>
    }
    function addNewReplaceRow() {
        var html="                        <tr>\n"+
                  "\n"+
                  "                            <td>\n"+
                  "                                <input class=\"form-control\" name=\"ExchaneArrayForFeed["+replaceRowCount+"].ToWord\" value=\"\" placeholder=\"به\"/>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <button  type=\"button\" class=\"btn btn-danger\">→</button>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <input class=\"form-control\" name=\"ExchaneArrayForFeed["+replaceRowCount+"].FromWord\" value=\"\" placeholder=\"از\"/>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <button type='button' onclick=\"removeThis(this)\" class=\"btn btn-danger\">x</button>\n"+
                  "                            </td>\n"+
                  "                        </tr>\n";

           replaceRowCount++;
   $('#addNewReplaceRowId').append(html);

    }

    function removeThis(el) {
      $(el).parents('tr').hide();
      $(el).parents('tr').find('input').val("");
    }
    </script>
}