﻿@model TelegramBotsWebApplication.Models.TelegramUser

@{
    ViewBag.Title = "کانال های شما";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="container">
    <h3>کانال های شما</h3>

    <a href="#" onclick="addNewChannel('@ViewBag.hashed')">اضافه کردن کانال جدید</a>

    <table class="table table-bordered table-condensed table-striped">
        <tbody id="channels">
        @foreach (var item in Model.TelegramChannels)
        {
            if (item.ChatTitle == null)
            {
                item.ChatTitle = "نام کانال";
            }
            <tr>
                <td>
                    <b>@item.ChatTitle</b>
                    <b>@item.ChatId</b>

                </td>
                <td>
                    <a style="margin-right: 60px"
                       onclick="addNewFeed('@ViewBag.hashed', '@item.Id')"
                       id="addFeed" href="#">
                        افزودن فید جدید
                    </a>
                </td>
                <td>
                    <a
                        onclick="removeChannel('@ViewBag.hashed','@item.Id')"
                        id="removeChannel" href="#">
                        حذف
                    </a>

                </td>
            </tr>
            <td colspan="99" style="padding: 20px">
                <table class="table table-bordered     ">
                    <tbody>
                    <tr >
                        <td colspan="999" style="width: 100%">

                            <table class="table table-bordered">

                                <tbody id="feeds_of_ch_@item.Id">
                                @foreach (var feed in item.Feeds)
                                {
                                    <tr id="f_@feed.Id">

                                        @{
                                            string typename = "";
                                            if ((int) feed.Type == 0)
                                            {
                                                typename = "RSS";
                                            }
                                            else if ((int) feed.Type == 1)
                                            {
                                                typename = "هشتگ";
                                            }
                                            else if ((int) feed.Type == 2)
                                            {
                                                typename = "اینستاگرام";
                                            }
                                            else if ((int) feed.Type == 1)
                                            {
                                                typename = "تلگرام";
                                            }
                                        }

                                        <td>
                                            @typename
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" onclick="removeFeed('@ViewBag.hashed', '@feed.Id')">
                                                x
                                            </button>
                                        </td>
                                        <td>
                                            @feed.Address
                                        </td>
                                        <td>
                                            <a class="btn btn-info" 
                                                    href="/feeds/detail?id=@feed.Id&hash=@ViewBag.hashed">
                                                تنظیمات
                                            </a>

                                        </td>

                                    </tr>
                                }

                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </td>
        }
        </tbody>
    </table>


</div>


@section scripts{
    <script src="~/Content/Setting.js"></script>
}