﻿@model TelegramBotsWebApplication.Areas.Admin.Models.MyEntityResponse<SignalRMVCChat.Areas.security.Models.AppUser>

@{
    Layout = "~/Areas/customer/Views/Shared/_Layout.cshtml";

}



@using (Html.BeginForm("Save", "Manage", new {area = "security"}))
    {
        
        @Html.Hidden("Id",Model.Single.Id)
        <div class="form-group">
            
            <label>نام کاربری</label>
            <input class="form-control" name="UserName"  value="@Model.Single.UserName"/>
        </div>
        <div class="form-group">
            
            <label>رمز عبور</label>
            <input class="form-control" name="Password"  value="@Model.Single.Password"/>
        </div>
        <div class="form-group">
            
            <input type="submit"/>
        </div>
    }
