﻿@model dynamic

@{
    ViewBag.Title = "پرداخت نا موفق";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red">پرداخت موفق نبود</h2>

<li>@Html.ActionLink("خرید یا تمدید اکانت", "Index", "MyAccount", new {hashed=ViewBag.hashed}, new
    {})</li>
<li>
    @Html.ActionLink("تنظیمات فید", "Index", "Setting", new {hashed=ViewBag.hashed}, new
    {})</li>