﻿@model dynamic

@{
    ViewBag.Title = "بانک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>بانک</h2>


<a href="/bank/success?hash=@ViewBag.hashed">موفق</a>
<a href="/bank/fail?hash=@ViewBag.hashed">ناموفق</a>