﻿@model TelegramBotsWebApplication.Models.UserAccount

@{
    ViewBag.Title = "پرداخت موفق";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<style>
    .cc *{
    text-align: center;
    }
</style>
<div class="cc" style="text-align: center">
    
<h2 style="color:green">پرداخت موفق</h2>



<p>
    مبلغ پرداختی
                @{
                    var price= Model.MaxCheckInDayCount*1000 + Model.MaxFeedCount*1000 + " ریال ";

                }
                @price
</p>
<div class="form-group">
    <label>
                
        وضعیت اکانت
                                
        @if (Model.IsActive)
        {
            <span>فعال</span>
                                    
        }
        else
        {
            <span>غیر فعال</span>
        }
    </label>
</div>
<div class="form-group">
    <label>

        @if (Model.ExpireDate <= DateTime.Now)
        {
            <span>اکانت شما منقضی شده است</span>
        }
        @if (Model.ExpireDate >= DateTime.Now)
        {
            <span>مدت باقی مانده از اکانت شما</span>
            <span>
                @{
                    var remain = (Model.ExpireDate - DateTime.Now);
                }
                        
                @remain.Days روز
                @remain.Hours ساعت 
                @remain.Seconds ثانیه 
            </span>
            <span> می باشد</span>
        }
    </label>
    
    
    <hr/>
    
     <li>@Html.ActionLink("وضعیت اکانت", "Index", "MyAccount", new {hashed=ViewBag.hashed}, new
                                                {})</li>
                                            <li>
                                                @Html.ActionLink("تنظیمات فید", "Index", "Setting", new {hashed=ViewBag.hashed}, new
                                                {})</li>
</div>
</div>