﻿@using TelegramBotsWebApplication.Areas.Admin.Service
@{
    ViewBag.Title = "کاربران ثبت نام شده";


    var telegramUsersService = SignalRMVCChat.DependencyInjection.Injector.Inject<TelegramUsersService>();

    var models= telegramUsersService.GetIncludeAccount();

    Layout = "~/Areas/customer/Views/Shared/_Layout.cshtml";

}

<style>
    th{
        text-align:right;
    }
</style>

<h2>کاربران ثبت نام شده</h2>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th> نام و نام خانوادگی</th>
            <th>آخرین نوشته</th>
            <th>تاریخ اتمام عضویت</th>
            <th>روز تا اتمام عضویت</th>
        </tr>

    </thead>
    <tbody>

    @foreach (var rec in models)
    {
   <tr>
       <td>@rec.Username</td>
       <td>@rec.FirstName @rec.LastName</td>
       <td>@rec.LastTypedText</td>
       @{ 

       }

       <td>@{
           if (rec.UserAccount.ExpireDate.HasValue)
           {
           <span>@MyGlobal.ToIranianDate(rec.UserAccount.ExpireDate.Value)</span>
           }

       }</td>
       <td>
           @{
               if (rec.UserAccount.ExpireDate.HasValue)
               {
                   var date = rec.UserAccount.ExpireDate.Value.Subtract(DateTime.Now);
               <span>@Math.Round(date.TotalDays)</span>
           }

       }
   </td>

   </tr>

        }

    </tbody>



</table>

