﻿@using TelegramBotsWebApplication.Service
@model List<TelegramBotsWebApplication.Models.TelegramUser>
@{
    ViewBag.Title = "Home Page";
}

<style>
    li{
    font-size: 16px;
    }
   
    
    .pane li {
    	margin: 0;
    	padding:  25px ;
    	padding-right: 50px;
    	list-style: none;
    	background-image: url("/Content/asset/logo.jpg");
    	background-repeat: no-repeat;
    	background-position: right center;
    	background-size: 40px;
    }
</style>

@*
@Html.ActionLink("manual tick","ManualTick")
*@

@*
@foreach (var item in Model)
{
    //  <a href="/setting/index?hashed=@MyGlobal.Encrypt(item.Id.ToString())">@item.Username</a>
}*@


<div class="container pane">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">به آموزشگاه مجازی فارکس و بورس خوش آمدید 
    
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/asset/tenor.gif" style="width: 100%"/>
                    </div>
                    <div class="col-md-6">
                                       
                        <h3>در اینجا یاد میگیرید</h3>
                        <ul>
                            <li>چگونه در  فارکس وارد شده و سود کسب کنید </li>
                            <li>الگو های سود آوری را درک کنید </li>
                            <li>ضرر های احتمالی آینده را تخمین بزنید </li>
                            <li>از زمان های طلایی خرید و فروش در فارکس و بورس خبر دار شوید  </li>
                            <li>با دکتر هم زمان بخرید و بفروشید </li>
                            <li>چگونه از برنامه های EA استفاده کنید </li>
                            <li>کلی فیلم آموزشی رایگان و VIP </li>
                                                        <li>استاد بورس خواهید شد </li>





                        </ul>
                    </div>
    
                </div>
                
                
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">فیلم های آموزشی 
    
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/asset/tenor.gif" style="width: 100%"/>
                    </div>
                    <div class="col-md-6">
                                                  <li>                           <a class="" href="https://t.me/fx_tabriz">نمایش فیلم ها </a>
     
                    </div>
    
                </div>
                
                
            </div>
        </div>

    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">گروه مخصوص VIP و خبر های طلایی از  فارکس 
    
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                                          <li>                            <a class="" href="https://t.me/fx_tabriz">ورود به کانال </a>
             
                    </div>
    
                </div>
                
                
            </div>
        </div>

    </div>





</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">راهنمای ورود</div>
        <div class="panel-footer">
            <h3 style="text-align: center">
                <button style="width: 80%; height: 150px; font-size: 26px; text-align: center" onclick="window.location = '/security/account/login'" class="btn btn-success">ورود به پنل مدیریت ربات</button>
            </h3>
        </div>
    </div>
</div>