﻿@using TelegramBotsWebApplication.Models
@using TelegramBotsWebApplication.Service
@model TelegramBotsWebApplication.Models.Feed

@{
    ViewBag.Title = "تنظیمات فید";
    Layout = "../Shared/_Layout.cshtml";

    List<SocialChannel> userChannels = ViewBag.channels;
    string channelExample = @"@channelExample";

}
<style>
    label{
    display: block;
    }
    
    

</style>

<h2 style="text-align: center">تنظیمات فید</h2>
<a style="float: left" href="/setting/index?hashed=@ViewBag.hashed">بازگشت به لیست کانال ها</a>

@{
    string title = @Model.SocialChannel.ChatTitle ?? "نام کانال خالی است";
}

@using (Html.BeginForm("DetailSave", "Feeds", new {hash = ViewBag.hashed}, FormMethod.Post,
    new {}))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.SocialChannelId)
    <div class="row">
    <h4> @Model.Type > @title > @Model.Address</h4>

    <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">تنظیمات عمومی</div>
        <div class="panel-body">

            <label>
                ارسال «ساکت» مطالب این فید (notification disabled) <a href="#">[?]</a>
                @Html.CheckBoxFor(m => m.NotificationDisabled)
            </label>

            <label>
                حاوی لینک مطلب <a href="#">[?]</a>
                @Html.CheckBoxFor(m => m.IncludeArticleLink)
            </label>

            <p>اگر محتوای فید، حاوی عکس بود: </p>

            <label>
                سعی کن عکس بالا باشد (متن برش می‌خورد تا مقدار زیرنویس به هزار کاراکتر برسد) <a href="#">[?]</a>
                @Html.CheckBoxFor(m => m.TryPhotoUponArticle)
            </label>


            @*
        <label>
            اگر عکس نتوانست بالا باشد و ارسال متنی بود، فقط عکس به عنوان preview زیر مطلب درج شود <a href="#">[?]</a>
            @Html.CheckBoxFor(m => m.TryPhotoUponArticleAsPreviewIfCannot)
        </label>
        *@

        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="double  panel panel-default">
                <div class="panel-heading">تنظیم دفعات بررسی</div>
                <div class="panel-body">

                    @{
                        Model.CheckTimesInADay = Model.CheckTimesInADay <= 0 ? 3 : Model.CheckTimesInADay;
                    }
                    <p>تعداد دفعات بررسی فید در شبانه‌روز:</p>
                    <label>
                        ۳ مرتبه (تقریبا هر ۸ ساعت)
                        @Html.RadioButtonFor(m => m.CheckTimesInADay, 3)
                    </label>


                    <label>
                        ۶ مرتبه (تقریبا هر ۴ ساعت)
                        @Html.RadioButtonFor(m => m.CheckTimesInADay, 6)
                    </label>

                    <label>

                        @{
                            var tmp = 24 * 60 / (Model.SocialChannel.TelegramUser.UserAccount?.MaxCheckInDayCount ?? 12);
                            var count = Math.Round((double) tmp);

                            var d = new DateTime(2020, 1, 1, 0, 0, 0);
                            d = d.AddMinutes(count);

                        }
                        <span>  @count مرتبه </span>
                                            <span>(</span>
    <span>تغریبا هر </span>
                        @if (d.Hour > 0)
                        {
                            <span> @d.Hour ساعت </span>
                        }
                        @if (d.Hour > 0)
                        {
                            <span> و  @d.Minute دقیقه </span>
                        }
                        <span>)</span>
                        @*
                        @Model.SocialChannel.TelegramUser.UserAccount.MaxCheckInDayCount مرتبه (تقریبا هر @count دقیقه)
                        *@
                        @Html.RadioButtonFor(m => m.CheckTimesInADay, count)
                    </label>

                    <a href="/MyAccount?hashed=@ViewBag.hashed" target="_blank">آیا تعداد بیشتری نیاز دارید؟</a>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="double panel panel-default">
                <div class="panel-heading">تنظیم ساعات ارسال</div>
                <div class="panel-body">
                    <p>ساعات مجاز برای ارسال به کانال در طول ۲۴ ساعت: </p>

                    <label>
                        از
                        @Html.EditorFor(m => m.TimeFrom)
                    </label>
                    <label>
                        تا
                        @Html.EditorFor(m => m.TimeTo)
                    </label>

                </div>
            </div>
        </div>


    </div>
    <div class="panel panel-default">
        <div class="panel-heading">تنظیمات #هشتگ</div>
        <div class="panel-body">
            <p>در مطالبی که از کانال‌ها و خصوصا اینستاگرام دریافت می‌شود، معمولا هشتگ‌های متعددی لابلای متن یا انتهای متن وجود دارد که جلوه‌ی زیبایی نداشته و ربات قبل از ارسال آنها به کانال شما، می‌تواند آنها را حذف یا تبدیل به کلمه کند...</p>
            <label>
                حذف هشتگ‌های انتهای متن
                @Html.CheckBoxFor(m => m.DeleteHashtagFromEnd)
            </label>

            <label>
                حذف علامت هشتگ‌های از کلمات بین متن و تبدیل آن به کلمه (مثلا تبدیل #فصل_بهار به: فصل بهار)
                @Html.CheckBoxFor(m => m.DeleteHashtagSigns)
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">کلماتی که وجودش قبل ارسال چک می‌شود</div>
                <div class="panel-body">

                    <label>
                        قبل از ارسال یک مطلب به کانال شما، چک می‌شود که مطلب دارای حداقل یکی از عبارات زیر هست یا خیر. اگر آن مطلب دارای حداقل یکی از عبارات زیر بود، آنگاه آن مطلب به کانال ارسال می‌شود و اگر دارای هیچ‌یک از کلمات زیر نباشد، به کانال ارسال نمی‌شود:
                        @Html.TextAreaFor(m => m.WordsMustBeInside, new {placeholder = "خال یعنی بدون محدودیت روی کلمه", @class = "form-control"})
                    </label>


                    <p>
                        در هر خط، یک عبارت (یک/چند کلمه‌ای) درج کنید. مثلا:

                    </p>
                    <p>
                        قیمت ارز

                    </p>
                    <p>
                        بازدید رییس جمهور
                    </p>
                    <p>
                        کشاورزی
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">کلماتی که عدم وجودش قبل ارسال چک می‌شود</div>
                <div class="panel-body">
                    <label>
                        قبل از ارسال یک مطلب به کانال شما، چک می‌شود که مطلب دارای حداقل یکی از عبارات زیر هست یا خیر. اگر آن مطلب فاقد همه عبارات زیر بود، آنگاه آن مطلب به کانال ارسال می‌شود و اگر دارای حداقل یکی از کلمات زیر باشد، به کانال ارسال نمی‌شود:
                        @Html.TextAreaFor(m => m.WordsNotMustBeInside, new {placeholder = "خال یعنی بدون محدودیت روی کلمه", @class = "form-control"})
                    </label>

                    <p>
                        در هر خط، یک عبارت (یک/چند کلمه‌ای) درج کنید. مثلا:
                    </p>

                    <p> درگیری‌های چچن</p>
                    <p>
                        ترکیدگی لوله
                    </p>
                    <p>هواشناسی</p>

                </div>
            </div>
        </div>


    </div>
    <div class="panel panel-default">
        <div class="panel-heading">جایگزینی (Replace)</div>
        <div class="panel-body">
            <p>در این بخش شما می‌توانید تعریف کنید که اگر عبارت «الف» در متن وجود داشت، قبل از ارسال به کانال، با عبارت «ب» جایگزین (replace) شود. </p>


            <div class="row">
                <div class="col-md-push-2 col-md-8 ">

                    <table style="width: 100%">
                        <tbody id="addNewReplaceRowId">

                        @if (Model.ExchaneArrayForFeed == null || Model.ExchaneArrayForFeed.Count == 0)
                        {
                            for (int i = 0; i < userChannels.Count; i++)
                            {
                                var channel = userChannels[i];
                                <tr>

                                    <td>
                                        <input class="form-control" name="ExchaneArrayForFeed[@i].ToWord" value="@ChannelService.GetAtsignName(@channel.Address)" placeholder="به"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger">→</button>
                                    </td>
                                    <td>
                                        <input class="form-control" name="ExchaneArrayForFeed[@i].FromWord" value="@ChannelService.GetUrlName(@channel.Address)" placeholder="از"/>
                                    </td>
                                    <td>
                                        <button onclick="removeThis(this)" type="button" class="btn btn-danger">x</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < Model.ExchaneArrayForFeed.Count; i++)
                            {
                                var exchane = Model.ExchaneArrayForFeed[i];
                                <tr>

                                    <td>
                                        <input class="form-control" name="ExchaneArrayForFeed[@i].ToWord" value="@exchane.ToWord" placeholder="به"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger">→</button>
                                    </td>
                                    <td>
                                        <input class="form-control" name="ExchaneArrayForFeed[@i].FromWord" value="@exchane.FromWord" placeholder="از"/>
                                    </td>
                                    <td>
                                        <button onclick="removeThis(this)" type="button" class="btn btn-danger">x</button>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>

                    <h3 style="text-align: center">
                        <a onclick="addNewReplaceRow()" style="text-align: center">
                            <span>+</span>
                            تعریف یک جایگزینی جدید
                        </a>
                    </h3>

                </div>
            </div>

            <hr/>
            <p>
                سمت دوم (عبارت جدیدی که قرار است جای عبارت قبلی شود) می‌تواند خالی باشد!
                در واقع با این ترفند شما می‌توانید عبارات خاصی که برای شما نامطلوب است را حذف کنید
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">محدودیت متن ارسالی به کانال</div>
                <div class="panel-body">
                    بجز تیتر و آدرس مطلب، چند کاراکتر از متن موجود در این فید در کانال درج شود؟

                    <label>
                        @Html.EditorFor(m => m.WordCountLimit)
                        حرف
                    </label>

                    <p>
                        (در تلگرام متن زیرنویس می‌تواند تا هزار کاراکتر و متن غیرزیرنویس می‌تواند تا ۴ هزار کاراکتر داشته باشد لذا متن ورودی که بلندتر از این مقدار باشد، بُرش می‌خورد. در صورتی که عدد کوچکتری مثل ۲۰۰ وارد کنید، متن ارسالی به کانال، کوچکتر خواهد شد.)
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">امضای انتهای هر مطلب از این فید</div>
                <div class="panel-body">


                    @Html.TextAreaFor(m => m.SignEndOfPost, new {@class = "form-control"})

                    <p>که مثلا می‌تواند حاوی لینک عمومی یا لینک join کانال شما باشد همراه با اموجی (شکلک) و ... </p>
                </div>
            </div>

        </div>


    </div>
    <div class="panel panel-default">
        <div class="panel-heading">جلوگیری از ارسال پست‌های نامطلوب</div>
        <div class="panel-body">

            <p>کانال‌های تلگرامی گاهی مطلب تبلیغی در لابلای مطالب خود قرار می‌دهند. ما امکان تشخیص مطالب تبلیغی را نداریم اما با کمک تنظیمات زیر، شما می‌توانید با شناختی که از کانال تلگرامی (@channelExample) دارید، مانع ارسال مطالب نامطلوب آن به کانال‌تان شوید؛ </p>

            <label>
                اگر مطلب فورواردی بود، به کانالم نفرست
                @Html.CheckBoxFor(m => m.IsForwaredPostNotSendToChannel)
            </label>


            <label>
                اگر متن حاوی هر نوع لینک/URL ی بود، به کانالم نفرست
                @Html.CheckBoxFor(m => m.IsHasUrlNotSendToChannel)
            </label>


            <label>
                اگر مطلب حاوی لینک جوین بود، به کانالم نفرست
                @Html.CheckBoxFor(m => m.IsHasJoinUrlNotSendToChannel)
            </label>

        </div>

    </div>

    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
    </div>

    <a style="float: left" href="/setting/index?hashed=@ViewBag.hashed">انصراف و بازگشت به لیست کانال ها</a>

    </div>
}


@section scripts
{
    <script>
    @{
        <text>
                var replaceRowCount=@userChannels.Count;
            </text>
    }
    function addNewReplaceRow() {
        var html="                        <tr>\n"+
                  "\n"+
                  "                            <td>\n"+
                  "                                <input class=\"form-control\" name=\"ExchaneArrayForFeed["+replaceRowCount+"].ToWord\" value=\"\" placeholder=\"به\"/>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <button  type=\"button\" class=\"btn btn-danger\">→</button>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <input class=\"form-control\" name=\"ExchaneArrayForFeed["+replaceRowCount+"].FromWord\" value=\"\" placeholder=\"از\"/>\n"+
                  "                            </td>\n"+
                  "                            <td>\n"+
                  "                                <button type='button' onclick=\"removeThis(this)\" class=\"btn btn-danger\">x</button>\n"+
                  "                            </td>\n"+
                  "                        </tr>\n";
        
           replaceRowCount++;
   $('#addNewReplaceRowId').append(html);
        
    }
    
    function removeThis(el) {
      $(el).parents('tr').hide();
      $(el).parents('tr').find('input').val("");
    }
    </script>
}