﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>پیغام</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div>
    
    
    
    
    <div class="container">
        <h3 style="text-align: center">
            تنظیمات اعمال شد
            :)
            @*<button style="width: 80%; height: 150px; font-size: 26px; text-align: center"
                    onclick="window.close();" class="btn btn-info">
                بستن </button*@
        </h3>
    </div>
</div>
</body>
</html>