﻿@using TelegramBotsWebApplication.Models
@using TelegramBotsWebApplication.Service
@using ChannelService = TelegramBotsWebApplication.Areas.Admin.Service.ChannelService
@model dynamic

@{
    ViewBag.Title = "کانال های من";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var channelService = DependencyResolver.Current.GetService<ChannelService>();
    var _currentRequestService = DependencyResolver.Current.GetService<CurrentRequestService>();


    var socialChannels = channelService.GetCurrentUserChannels();
}

<h2>کانال های من</h2>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>عنوان کانال یا گروه</th>
        <th>پست های فروارد شده</th>
        <th>پست های خوانده شده از فید ها</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var channel in socialChannels)
    {
        <tr>
            <td>@channel.ChatTitle</td>
            <td>
                <a href="/MyBotStatistics/TelegramBotPosts?hashed=@_currentRequestService.Token"> مشاهده (@channel.TelegramUser.TelegramPosts.Count)      </a>
            
            
            </td>
            <td>
                @*href="/MyBotStatistics/FeedsPosts?hashed=@_currentRequestService.Token"*@
                <p href="#">
                  پست  (@channel.Feeds.SelectMany(s => s.TelegramPosts).Count()) </p>

            </td>
        </tr>
    }
    </tbody>


</table>