﻿@using TelegramBotsWebApplication.Service
@model dynamic

@{
    ViewBag.Title = "آمار ارسال";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var channelService = DependencyResolver.Current.GetService<ChannelService>();
    var _currentRequestService = DependencyResolver.Current.GetService<CurrentRequestService>();
    var _telegramPostService = DependencyResolver.Current.GetService<TelegramPostService>();
    var allPostsByUserId = _telegramPostService.GetAllPostsByUserId(_currentRequestService.GetCurrentUserId());


    allPostsByUserId=allPostsByUserId.OrderByDescending(a => a.Id).ToList();
    var notSendPosts = allPostsByUserId.Where(p => string.IsNullOrEmpty(p.DeliveredChannelIds));
    var sentPosts = allPostsByUserId.Where(p => !string.IsNullOrEmpty(p.DeliveredChannelIds));

    
}
<style>
    .tble{
       max-height: 400px;overflow: auto
       }
       a:hover{
       cursor: pointer;
       }
        .post{
           max-height: 400px;overflow: auto;
           max-width:200px
           }
           
          .forEdit{
          display:none;
          }
</style>

<div class="row">
    @*<div class="col-md-6">
        @Html.Partial("MyChannels")
    </div>*@
    <div class="row">
        <h2>پست های در صف ارسال</h2>
        <table class="table table-bordered tble" >
            <thead>
            <tr>
                <th>پست</th>
                <th>ساعت ارسال</th>
                <th>نوع پست</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var post in notSendPosts)
            {
                <tr>
                    <td class="post">@post.Caption @post.Text @post.Summary @post.Title</td>
                       <td>@if(post.SendTime.HasValue){
                                <span>@post.SendTime.Value.TimeOfDay</span>
                                }</td>
                    <td>@post.TelegramMessageType</td>
                </tr>
            }
            </tbody>
        
        
        </table>
        
        
        <h2>پست های فوروارد شده</h2>
        <table class="table table-bordered tble">
            <thead>
            <tr>
                <th>پست</th>
                <th>ساعت ارسال</th>
                <th>نوع پست</th>
                <th>حذف</th>
                <th>ویرایش</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var post in sentPosts)
            {
                <tr>
                    <td class="post">@post.Caption @post.Text @post.Summary @post.Title</td>
                    <td>@if(post.SendTime.HasValue){
                    <span>@post.SendTime.Value.TimeOfDay</span>
                    }</td>
                    <td>@post.TelegramMessageType</td>
                    <td><a  onclick="deleteInChannels(this,'@post.Id')">حذف از کانال ها</a></td>
                    
                    <td>
                    <p class="forEdit">
                                @post.Caption @post.Text @post.Summary @post.Title
                    </p>
                    <a  onclick="editInChannels(this,'@post.Id')">ویرایش</a></td>
                </tr>
            }
            </tbody>
        
        
        </table>

    </div>
</div>

@*
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
*@

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ویرایش پست</h4>
            </div>
            <div class="modal-body">
                <p>مطلب جدید را وارد نمایید</p>
                
                <form id="editForm">
                    <input id="PostId" name="PostId" type="hidden"/>
                    <textarea class="form-control" id="Text" name="Text"></textarea>
                    <input hidden="hidden" name="hashed" value="@_currentRequestService.Token"/>
                </form>

                <button type="button" onclick="editPostInChanelsAjax()">ویرایش</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
        </div>

    </div>
</div>


<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">پیغام حذف از کانال</h4>
      </div>
      <div class="modal-body">
        <p>پست مورد نظر از کانال ها حذف گردید</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>

  </div>
</div>



<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">پیغام ویراش پست</h4>
      </div>
      <div class="modal-body">
        <p>پست با موفقیت تغییر یافت</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>

  </div>
</div>


<script>function editPostInChanelsAjax() {
 var postId=$("#PostId").val();
 var text=$("#Text").val();
    
    $.ajax({
        url:'/MyBotStatistics/editPostInChanelsAjax?postId='+postId+'+hashed=@_currentRequestService.Token',
        method:'post',
        data:$('#editForm').serialize(),
        success:function() {
          $(postForEdit).parents('tr').find(".post").html(text);
          $(postForEdit).parents('tr').find(".forEdit").html(text); 
          

          $('#editModal').modal("show");
        },
        fail:function(e) {
          alert(e)
        }
        })
}
var postForEdit;
function editInChannels(param, postId) {
    postForEdit=param;
    
    var text=$(param).prev().html();
    
    $("#PostId").val(postId);
    $("#Text").val(text);
      $('#myModal').modal("show");
      

}
function deleteInChannels(param, postId) {

    $.ajax({
    url:'/MyBotStatistics/DeletePostInChannels?postId='+postId+'+hashed=@_currentRequestService.Token',
    method:'post',
    data:{postId:postId,hashed:'@_currentRequestService.Token'},
    success:function(res) {
        
        $(param).parents('tr').css('background-color','red');
        $(param).parents('tr').fadeOut(1000);
      //$(param).parents('tr').remove()
      $('#deleteModal').modal("show");
    },
    fail:function(e) {
      alert(e)
    }
    })
}


</script>
