﻿@model TelegramBotsWebApplication.Models.UserAccount

@{
    ViewBag.Title = "تمدید حق عضویت VIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">تمدید حق عضویت VIP</h2>

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">

        @using (Html.BeginForm("SaveAccount", "MyAccount" ,
            FormMethod.Post, new {@class="form"}))
        {
            @Html.Hidden("token",(string)ViewBag.hashed)
            
            @Html.HiddenFor(m=>m.Id)
            @*<div class="form-group">
                <label>
                
                                وضعیت شروع به کار اکانت
                                
                                @if (Model.IsActive)
                                {
                                    <span>فعال</span>
                                    
                                }
                                else
                                {
                                    <span>غیر فعال</span>
                                }
                            </label>
            </div>*@
            <div class="form-group" style="text-align: center">
                <label >
                    وضعیت اکانت :

                    @if (Model.ExpireDate <= DateTime.Now)
                    {
                        <span>اکانت شما منقضی شده است</span>
                    }
                    @if (Model.ExpireDate >= DateTime.Now)
                    {
                        <span>مدت باقی مانده از اکانت شما</span>
                        <span>
                            @{
                                var remain = (Model.ExpireDate - DateTime.Now);
                            }

                            @remain.Days روز
                            @remain.Hours ساعت
                            @remain.Seconds ثانیه
                        </span>
                        <span> می باشد</span>
                    }
                </label>
                </div>
            <div class="form-group">

            <label>
            مدت حق عضویت : 
                        </label>

            @*
<input value="@Model.MaxFeedCount" class="form-control" type="number" name="MaxFeedCount" id="MaxFeedCount" onchange="valChanges()"/>
            *@
@{
    Model.MaxFeedCount=Model.MaxFeedCount <= 0 ? 1 : Model.MaxFeedCount;
}
<select value="@Model.MaxFeedCount" class="form-control" type="number" name="MaxFeedCount" id="MaxFeedCount" onchange="valChanges()">
    <option value="1">یک ماهه</option>
    <option value="3">3 ماهه</option>
    <option value="12">می خواهم یک سال همراه باشم</option>
</select>
            
            </div>
            @*<div class="form-group">
                <label>
                    <input  type="checkbox" name="toAllFeeds"/>
                    به تمامی فید ها اعمال شود 

                </label>
            </div>*@
            <div class="form-group">

                @{
                    var price=Model.MaxFeedCount*120000 + " ریال ";

                }
                <label>
                    قیمت 
                    <input class="form-control" value="@price" name="price" id="price" readonly="readonly"/>
                </label>
                
                
                
            </div>
          
            <hr/>
            
                <label>
                    <input type="submit" value="هدایت به صفحه بانک و پرداخت"/>
                </label>
            
            
        }

    </div>
</div>


<script>
function valChanges() {
  
   let maxCheckInDayCount= $('#MaxCheckInDayCount').val();
   let maxFeedCount= $('#MaxFeedCount').val();
   
   if (!maxCheckInDayCount || maxCheckInDayCount<0)
      maxCheckInDayCount=0;
   if (!maxFeedCount || maxFeedCount<0)
      maxFeedCount=1;
   
   var price=  maxFeedCount*120000;
   
   $('#price').val(numberWithCommas(price) + ' ریال ');
   
}

function numberWithCommas(x) {
        var parts = x.toString().split(",");
        parts[0]=parts[0].replace(/\B(?=(\d{3})+(?!\d))/g,".");
        return parts.join(",");
        }
</script>