﻿@model System.Collections.Generic.List<TelegramBotsWebApplication.Models.Log>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var all = Model.OrderByDescending(o => o.Date).ToList();
}

<h2>title</h2>
<table class="table">
    <tbody>
    @foreach (var m in all)
    {
        <tr>
            <td>@m.Exception</td>
            <td>@m.Date</td>
        </tr>
    }
    </tbody>
</table>