﻿@using TelegramBotsWebApplication.Models 
@using SignalRMVCChat.DependencyInjection
@using TelegramBotsWebApplication.Areas.Customer.Service
@{
    ViewBag.Title = "نتیجه پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    #incenter *{
        direction:rtl;
        text-align:center;
    }
</style>
<div id="incenter">

    <h2>
        @ViewBag.Message
    </h2>

    <hr/>
    @{
        var account =(UserAccount) ViewBag.userAccount ;
        if (account == null)
        {
            throw new Exception("account is null");
        }

    }
    <div class="form-group" style="text-align: center">
        <label>
            وضعیت اکانت :

            @if (account.ExpireDate <= DateTime.Now)
            {
                <span>اکانت شما منقضی شده است</span>
            }
            @if (account.ExpireDate >= DateTime.Now)
            {
                <span>مدت باقی مانده از اکانت شما</span>
                <span>
                    @{
                        var remain = ((account.ExpireDate ?? DateTime.Now) - DateTime.Now);
                    }

                    @remain.Days روز
                    @remain.Hours ساعت
                    @remain.Seconds ثانیه
                </span>
                <span> می باشد</span>
                        }
        </label>

        <hr/>
        @{ 
            var membershipSettingService=Injector.Inject<MembershipSettingService>();
            var inviteLink= membershipSettingService.GetSingle().PrivateGroupInviteLink;
        }

        <a class="btn btn-primary" href="@inviteLink">ورود به گروه</a>
    </div>

</div>


