﻿@model TelegramBotsWebApplication.Areas.Bank.Controllers.BeforeBankViewModel

@{
    ViewBag.Title = "هدایت به صفحه بانک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #bank *{
        direction:rtl;
        text-align:center;
    }
</style>



<div id="bank">
    <h2>هدایت به صفحه بانک</h2>

    <input id="Amount" hidden="hidden" style="display: none" name="Amount" value="@Model.price"/>
    <input id="accountId"
           hidden="hidden" style="display: none" 
           name="accountId" value="@Model.userAccountId"/>
    
       <input id="OrderId"
               hidden="hidden" style="display: none" 
               name="OrderId" value="@Model.OrderId"/>

    <div class="form-group">
        <p>با تشکر از پرداخت شما</p>
        <label style="text-align: center"> مبلغ مورد پرداخت:</label>
        <label>@MyGlobal.ShowThreeDotMoney(Model.price + "")</label>
    </div>
    
    
    <div class="form-group">
      
        <input type="button" class="btn btn-info" onclick="mySub(this)"  value="هدایت به بانک"/>
    </div>


</div>

<script>

    function mySub(el) {

        el.disabled  = true;

    
    let elementById = document.getElementById('Amount').value;
    let accountId = document.getElementById('accountId').value;
    let OrderId = document.getElementById('OrderId').value;
    
    $.ajax({
    url:'/Bank/Idpay/Payment?Amount='+elementById+'&accountId='+accountId+'&OrderId='+OrderId,
    body: { Amount: elementById.value, accountId: accountId, OrderId: OrderId },
    method:'post',
    success:function(res) {
        
        
        debugger;
        
        if (!res.PaymentUrl){
            
            alert(res.Message);
            
        }
        
        
    window.location.href =res.PaymentUrl;
        
        
        
      
    },fail:function(err) {
      
        el.disabled = false;
        console.error(err);
        
    }
    })
  
}

</script>