﻿@using TelegramBotsWebApplication.Models
@model TelegramBotsWebApplication.Areas.Admin.Models.MyDataTableResponse<TelegramPost>

@{
    ViewBag.Title = "لیست کانال های کاربر";


    if (ViewBag.hashed!=null)
    {
        Layout = "../Shared/_Layout.cshtml"; // "../Shared/_Admin_Layout.cshtml";

    }
    else
    {
        Layout = "../Shared/_Admin_Layout.cshtml";

    }

    var telegramUser = Model.DependEntity as TelegramUser;
}

<style>
    th{
        text-align: right
    }



    .content {
    }

    .sticky {
        position: fixed;
        top: 150px;
        margin-right: -100px;
        width: 100%;
    }

    .sticky + .content {
    }
</style>


<h2>لیست کانال های کاربر</h2>
<a style="text-align: left" href="/admin/TelegramUsers/index">بازگشت به لیست کاربران</a>

<hr/>
<div class="row">

    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr >
            <th colspan="3">
                <h4 style="text-align: center">لیست کانال های کاربر </h4>
            </th>
            @if (telegramUser != null)
            {
                <th colspan="3">
                    <h4 style="text-align: center">@telegramUser.FirstName @telegramUser.LastName (@telegramUser.Username)</h4>
                </th>
            }
        </tr>
        <tr>
            <th>وضعیت</th>
            <th>زمان ارسال</th>
            <th>نوع مطلب</th>
            <th>شرح</th>

        </tr>
        </thead>
        @foreach (var post in Model.EntityList)
        {
            <tr>
                <td>
                    @{
                        if (string.IsNullOrEmpty(post.DeliveredChannelIds))
                        {
                            <span>در صف </span>
                        }
                        else
                        {
                            <span>ارسال شده</span>
                        }
                    }
                </td>
                
                <td>
                    @if (post.SendTime.HasValue)
                    {
                        <span>@post.SendTime.Value.TimeOfDay</span>
                    }
                    else
                    {
                        <span> ارسال در همان لحظه </span>
                    }
                </td>
                <td>@post.TelegramMessageType</td>
                <td>
                                    @post.Text @post.Summary @post.Caption
                                </td>

            </tr>
        }


    </table>


</div>